/** Feature Section Home One **/
.feature_section_home_one{
    position: relative;
}
.feature_section_home_one .shape-three{
    position: absolute;
    left: 0px;
    top: 0px;
}
.feature_block_one{
    display: inline-flex;
    flex-wrap: wrap;
    gap: 25px;
    align-items: center;
    justify-content: flex-start;
}
.feature_block_one .icon_box{
    position: relative;
    width: 110px;
    height: 110px;
    display: block;
    overflow: hidden;
    text-align: center;
}
.feature_block_one .icon_box .icon i{
    font-size: 80px;
    color: var(--primary-color);
}
.feature_block_one .icon_box .icon i:before{
    line-height: 110px;
}
.feature_block_one .icon_box .bg_icon{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.feature_block_one .icon_box .bg_icon i{
    font-size: 100px;
    color: rgba(2, 194, 197, 0.2);
}
.feature_block_one .icon_box .bg_icon i:before{
    line-height: 110px;
}
.feature_block_one .feature_content{
    width: 70%;
}
.feature_block_one .feature_content h3 a{
    margin-bottom: 15px;
    font-weight: 600;
    display: inline-block;
    color: var(--theme-color-two);
}
.feature_block_one .feature_content h3 a:hover{
    color: var(--primary-color);
}
.feature_block_one .feature_content p{
    font-weight: 400;
    color: var(--theme-color-two);
}
.feature_section_home_two{
    position: relative;
}
.feature-two-container{
    position: relative;
    margin-top: -150px;
    overflow: hidden;
    background: var(--bs-white);
    box-shadow: 0px 4px 20px rgba(151, 151, 151, 0.1);
    border-radius: 15px;
}
.feature_block_two{
    position: relative;
    z-index: 1;
    cursor: pointer;
    padding: 75px 0px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.clomun:last-child .feature_block_two{
    border-right: none;
}
.feature_block_two:before{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    transition: .5s;
    z-index: -1;
    transform: scale(0);
    background-color: var(--primary-color);   
}
.feature_block_two:hover:before{
    transform: scaleX(1.0);
}
.feature_block_two .icon_box{
    position: relative;
    width: 110px;
    height: 110px;
    display: inline-block;
    overflow: hidden;
    text-align: center;
}
.feature_block_two .icon_box .icon i{
    font-size: 80px;
    transition: .5s;
    color: var(--primary-color);
}
.feature_block_two:hover .icon_box .icon i{
    color: var(--bs-white);
}
.feature_block_two .icon_box .icon i:before{
    line-height: 110px;
}
.feature_block_two .icon_box .bg_icon{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.feature_block_two .icon_box .bg_icon i{
    font-size: 100px;
    color: rgba(2, 194, 197, 0.2);
}
.feature_block_two .icon_box .bg_icon i:before{
    line-height: 110px;
}
.feature_block_two .feature_content h4 a{
    margin-bottom: 15px;
    font-weight: 600;
    transition: .5s;
    display: inline-block;
    color: var(--theme-color-two);
}
.feature_block_two:hover .feature_content h4 a{
    color: var(--bs-white);
}
.feature_section_home_three{
    position: relative;
    padding: 140px 0px 100px;
    background-repeat: no-repeat;
    background-position: center center;
}
.feature_section_home_three .shape-one{
    position: absolute;
    right: 0;
    top: 0;
}
.feature_section_home_three .shape-two{
    position: absolute;
    left: 50px;
    bottom: 0;
}
.feature_section_home_three.about_page{
    padding-top: 50px;
}
.feature_block_three{
    position: relative;
    background: #FFFFFF;
    padding: 26px 24px;
    transition: all 500ms;
    cursor: pointer;
    transform: scaleY(1.0);
    transform-origin: bottom;
    margin-bottom: 40px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}
.feature_block_three:hover{
    margin-top: 40px;
    margin-bottom: 0;
}
.feature_block_three .feature_inner_box{
    position: relative;
    text-align: center;
    transition: all 500ms;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}
.feature_block_three:hover .feature_inner_box{
    border-color: var(--secondary-color);
}
.feature_block_three .icon_box{
    position: relative;
    width: 100px;
    height: 100px;
    font-size: 50px;
    line-height: 105px;
    display: inline-block;
    color: var(--bs-white);
    margin-bottom: 30px;
    overflow: hidden;
    z-index: 1;
    transition: all 500ms;
    background: var(--theme-color-one);
    border-radius: 0px 0px 50px 50px;
}
.feature_block_three .icon_box:before{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    z-index: -1;
    transform: scaleY(0);
    transform-origin: top;
    transition: all 500ms;
    background: var(--secondary-color);
}
.feature_block_three:hover .icon_box:before{
    transform: scaleY(1.0);
}
.feature_block_three .icon_box_two{
    position: absolute;
    right: 5px;
    bottom: 5px;
    z-index: -1;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: all 500ms;
}
.feature_block_three:hover .icon_box_two{
    transform: scale(1.0);
}
.feature_block_three .icon_box_two i{
    font-size: 160px;
    color: rgba(2, 194, 197, 0.1);
}
.feature_block_three .feature_content{
    padding: 0px 25px 55px;
}
.feature_block_three h4 a{
    font-weight: 700;
    display: inline-block;
    margin-bottom: 10px;
    transition: all 500ms;
    color: var(--theme-color-two);
}
.feature_block_three h4 a:hover{
    color: var(--secondary-color);
}
.feature_block_three h4 p{
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    text-align: center;
    color: var(--theme-color-two);
    font-family: var(--manrope);
}
.feature_section_home_four{
    padding-bottom: 60px;
}
.feature_block_four{
    position: relative;
    padding: 30px;    
    background: var(--bs-white);
    border: 1px solid #EEEEEE;
    border-radius: 20px;
    transition: all 500ms;
}
.feature_block_four:hover{
    border-color: var(--bs-white);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.06);
}
.feature_block_four .icon_box{
    position: relative;
    width: 110px;
    height: 110px;
    display: block;
    overflow: hidden;
    text-align: center;
    margin: 20px 0px 10px;
}
.feature_block_four .icon_box .icon i{
    font-size: 80px;
    color: var(--primary-color);
}
.feature_block_four .icon_box .icon i:before{
    line-height: 110px;
}
.feature_block_four .icon_box .bg_icon{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.feature_block_four .icon_box .bg_icon i{
    font-size: 100px;
    color: rgba(2, 194, 197, 0.2);
}
.feature_block_four .icon_box .bg_icon i:before{
    line-height: 110px;
}
.feature_block_four .tag{
    position: absolute;
    top: 40px;
    right: 30px;
    font-size: 32px;
    line-height: 42px;
    font-weight: 700;
    color: var(--primary-color);
}
.feature_block_four .feature_content h3 a{
    margin-bottom: 15px;
    font-weight: 600;
    display: inline-block;
    color: var(--theme-color-two);
}
.feature_block_four .feature_content h3 a:hover{
    color: var(--primary-color);
}
.feature_block_four .feature_content p{
    font-weight: 400;
    margin-bottom: 25px;
    color: var(--theme-color-two);
}
.feature_block_four .image_box img{
    border-radius: 15px;
    width: 100%;
}