.programs_block_one {
    position: relative;
    z-index: 99;
}
.programs_block_one .image_box img{
    width: 100%;
}
.programs_block_one .lower_content{
    position: relative;
    margin: 0px 40px;
}
.programs_block_one .lower_content:before{
    position: absolute;
    top: calc(50% - 25px);
    left: 0;
    width: 4px;
    height: 50px;
    content: '';
    transition: .5s;
    background-color: var(--primary-color);
}
.programs_block_one:hover .lower_content:before{
    top: 0;
    height: 100%;
}
.programs_block_one .lower_content::after{
    position: absolute;
    top: calc(50% - 25px);
    right: 0;
    width: 4px;
    height: 50px;
    content: '';
    transition: .5s;
    background-color: var(--primary-color);
}
.programs_block_one:hover .lower_content:after{
    top: 0;
    height: 100%;
}
.programs_block_one .lower_content .inner{
    padding: 34px 30px 0px;   
    margin-top: -54px;
    transition: .5s;
    background-color: var(--bs-white);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}
.programs_block_one:hover .lower_content .inner{
    margin-top: -90px;
    padding-bottom: 34px;
}
.programs_block_one .lower_content h4 a{
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    display: inline-block;
    margin-bottom: 5px;
    color: var(--theme-color-two);
}
.programs_block_one .lower_content h4 a:hover{
    color: var(--primary-color);
}
.programs_block_one .lower_content .link-btn{
    opacity: 0;
    visibility: hidden;
    transition: .5s;
    transform-origin: top;
    transform: scaleY(0);
}
.programs_block_one:hover .lower_content .link-btn{
    display: block;
    opacity: 1;
    visibility: visible;
    transform: scaleY(1.0);
}
.programs_block_one .lower_content .link-btn a{
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    text-align: center;
    display: inline-block;
    color: var(--secondary-color);
    font-family: var(--manrope);
}
.programs_block_one .lower_content .link-btn a:hover{
    color: var(--primary-color);
}

.programs_section_home_one.style_two{
    padding-bottom: 100px;
}