@font-face {
    font-family: "flaticon_liggeet";
    src: url("../fonts/flaticon_liggett.ttf?51604fa5895466c125cf4e4c9bd4749d") format("truetype"),
url("../fonts/flaticon_liggett.woff?51604fa5895466c125cf4e4c9bd4749d") format("woff"),
url("../fonts/flaticon_liggett.woff2?51604fa5895466c125cf4e4c9bd4749d") format("woff2"),
url("../fonts/flaticon_liggett.eot?51604fa5895466c125cf4e4c9bd4749d#iefix") format("embedded-opentype"),
url("../fonts/flaticon_liggett.svg?51604fa5895466c125cf4e4c9bd4749d#flaticon_liggett") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon_liggeet !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-loupe:before {
    content: "\f101";
}
.flaticon-user:before {
    content: "\f102";
}
.flaticon-internet:before {
    content: "\f103";
}
.flaticon-estimation:before {
    content: "\f104";
}
.flaticon-right-chevron:before {
    content: "\f105";
}
.flaticon-reward:before {
    content: "\f106";
}
.flaticon-download:before {
    content: "\f107";
}
.flaticon-factory:before {
    content: "\f108";
}
.flaticon-gas:before {
    content: "\f109";
}
.flaticon-engineer:before {
    content: "\f10a";
}
.flaticon-manufacture:before {
    content: "\f10b";
}
.flaticon-down-chevron:before {
    content: "\f10c";
}
.flaticon-crane:before {
    content: "\f10d";
}
.flaticon-tanks:before {
    content: "\f10e";
}
.flaticon-vaccine:before {
    content: "\f10f";
}
.flaticon-radiator:before {
    content: "\f110";
}
.flaticon-flag:before {
    content: "\f111";
}
.flaticon-left-chevron:before {
    content: "\f112";
}
.flaticon-play-button:before {
    content: "\f113";
}
.flaticon-zoom-in:before {
    content: "\f114";
}
.flaticon-star:before {
    content: "\f115";
}
.flaticon-quote:before {
    content: "\f116";
}
.flaticon-send:before {
    content: "\f117";
}
.flaticon-dial-pad:before {
    content: "\f118";
}
.flaticon-mail:before {
    content: "\f119";
}
.flaticon-facebook:before {
    content: "\f11a";
}
.flaticon-machinery:before {
    content: "\f11b";
}
.flaticon-laser:before {
    content: "\f11c";
}
.flaticon-target:before {
    content: "\f11d";
}
.flaticon-agreement:before {
    content: "\f11e";
}
.flaticon-call-center:before {
    content: "\f11f";
}
.flaticon-pdf:before {
    content: "\f120";
}
.flaticon-word:before {
    content: "\f121";
}
.flaticon-globe:before {
    content: "\f122";
}
.flaticon-pin:before {
    content: "\f123";
}
.flaticon-clock:before {
    content: "\f124";
}
.flaticon-check:before {
    content: "\f125";
}
.flaticon-diagonal-arrow:before {
    content: "\f126";
}
.flaticon-accept:before {
    content: "\f127";
}
.flaticon-target-1:before {
    content: "\f128";
}
.flaticon-vision:before {
    content: "\f129";
}
.flaticon-diamond:before {
    content: "\f12a";
}
.flaticon-settings:before {
    content: "\f12b";
}
.flaticon-heart-shape-outline:before {
    content: "\f12c";
}
.flaticon-checkbox-mark:before {
    content: "\f12d";
}
.flaticon-headphones:before {
    content: "\f12e";
}
.flaticon-windmill:before {
    content: "\f12f";
}
.flaticon-robotic-arm:before {
    content: "\f130";
}
.flaticon-download-1:before {
    content: "\f131";
}
.flaticon-industrial-robot:before {
    content: "\f132";
}
.flaticon-tube-bending:before {
    content: "\f133";
}
.flaticon-picker:before {
    content: "\f134";
}
.flaticon-industry:before {
    content: "\f135";
}
.flaticon-user-1:before {
    content: "\f136";
}
.flaticon-user-2:before {
    content: "\f137";
}
.flaticon-facebook-app-symbol:before {
    content: "\f138";
}
.flaticon-instagram:before {
    content: "\f139";
}
.flaticon-dribbble:before {
    content: "\f13a";
}
.flaticon-phone:before {
    content: "\f13b";
}
.flaticon-email:before {
    content: "\f13c";
}
.flaticon-play-button-1:before {
    content: "\f13d";
}
.flaticon-play-button-2:before {
    content: "\f13e";
}
.flaticon-play-button-3:before {
    content: "\f13f";
}
.flaticon-read:before {
    content: "\f140";
}
.flaticon-architect:before {
    content: "\f141";
}
.flaticon-design-thinking:before {
    content: "\f142";
}
.flaticon-atom:before {
    content: "\f143";
}
.flaticon-graduated:before {
    content: "\f144";
}
.flaticon-education:before {
    content: "\f145";
}
.flaticon-system:before {
    content: "\f146";
}
.flaticon-economy:before {
    content: "\f147";
}
.flaticon-calendar:before {
    content: "\f148";
}
.flaticon-book-1:before {
    content: "\f149";
}
.flaticon-clock-1:before {
    content: "\f14a";
}
.flaticon-map:before {
    content: "\f14b";
}
.flaticon-degrees:before {
    content: "\f14c";
}
.flaticon-search:before {
    content: "\f14d";
}
.flaticon-search-1:before {
    content: "\f14e";
}
.flaticon-healthcare:before {
    content: "\f14f";
}
.flaticon-engineering:before {
    content: "\f150";
}
.flaticon-pin-1:before {
    content: "\f151";
}
.flaticon-checklist:before {
    content: "\f152";
}
.flaticon-email-1:before {
    content: "\f153";
}
.flaticon-light-bulb:before {
    content: "\f154";
}
.flaticon-vector:before {
    content: "\f155";
}
.flaticon-notification:before {
    content: "\f156";
}
.flaticon-open-book:before {
    content: "\f157";
}
.flaticon-interview:before {
    content: "\f158";
}
.flaticon-file:before {
    content: "\f159";
}
.flaticon-checked:before {
    content: "\f15a";
}
.flaticon-right-arrow:before {
    content: "\f15b";
}
.flaticon-right-arrow-1:before {
    content: "\f15c";
}
.flaticon-right-arrow-2:before {
    content: "\f15d";
}
.flaticon-star-1:before {
    content: "\f15e";
}
.flaticon-youtube:before {
    content: "\f15f";
}
.flaticon-quote-1:before {
    content: "\f160";
}
.flaticon-coins:before {
    content: "\f161";
}
.flaticon-pin-2:before {
    content: "\f162";
}
.flaticon-clock-2:before {
    content: "\f163";
}
.flaticon-calendar-1:before {
    content: "\f164";
}
.flaticon-farmer:before {
    content: "\f165";
}
.flaticon-add-group:before {
    content: "\f166";
}
.flaticon-padlock:before {
    content: "\f167";
}
.flaticon-hiring:before {
    content: "\f168";
}
.flaticon-share:before {
    content: "\f169";
}
.flaticon-alarm:before {
    content: "\f16a";
}
.flaticon-maps-and-flags:before {
    content: "\f16b";
}
.flaticon-reply:before {
    content: "\f16c";
}
.flaticon-back:before {
    content: "\f16d";
}
.flaticon-reply-1:before {
    content: "\f16e";
}
.flaticon-reply-2:before {
    content: "\f16f";
}
.flaticon-twitter:before {
    content: "\f170";
}
.flaticon-twitter-1:before {
    content: "\f171";
}
.flaticon-right-arrow-3:before {
    content: "\f172";
}
.flaticon-next:before {
    content: "\f173";
}
.flaticon-right-arrow-4:before {
    content: "\f174";
}
